/* General Styles */
body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Navbar Styles */
.navbar {
  background-color: white;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.nav-link {
  text-decoration: none;
  color: black;
  font-size: 18px;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

.nav-link:hover {
  background-color: blue;
  color: white;
  border-radius: 4px;
}

/* Hero Section Styles */
.home-content {
  position: relative;
  text-align: center;
  color: white;
}

.hero-image {
  width: 100%;
  max-height: 90vh;
  object-fit: cover;
}

.home-content h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 10px;
}
