.footer {
  background-color: black;
  color: white;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px; /* Giảm padding để thu nhỏ chiều cao */
  font-size: 14px; /* Đảm bảo kích cỡ chữ nhỏ và gọn gàng */
  position: fixed;
  bottom: 0;
  left: 0;
  height: 40px; /* Chiều cao cố định cho footer */
  z-index: 1000;
  overflow: hidden;
  margin: 0;
}

.footer nav a {
  margin: 0 5px;
  text-decoration: none;
  color: white;
  font-size: 14px; /* Điều chỉnh kích thước chữ nhỏ hơn cho phù hợp */
}
